@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 1.5rem;
}

p {
	font-size: 1.2rem;
}

ul li, h3 {
	font-size: 1.4rem;
}

ul li {
	text-transform: uppercase;
}

.orange {
	color: orange;
}

.green {
	color: #BAEA32
}

.white {
	color: white;
}

.hidden {
	visibility: hidden; 
}

.bgimage {
	background-image: url('../img/banner-bg.png');
	background-position: center;
	background-size: cover;
	height: 400px;
}


.green-bg {
	background-color: #BAEA32;
	border-radius: 7px;
	padding: 7px;
	margin: 0;
}

.org-bg {
	background-color: #EA7C32;
	border-radius: 7px;
	padding: 7px;
	margin: 0;
}

.hover-color {
	background-color: #333;
	color: white;
	transition: background-color 0.5s;
}

#location-menu {
	width: 110px;
	margin: auto;
	background-color: #333;
	border-radius: 7px;
}

#location-menu ul {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-top: 5px;
}

#location-menu ul li {
	display: block;
	text-align: center;
	padding: 2px;
	color: #BAEA32;
}

#location-menu {
  height: 0;
  overflow: hidden;
  transition: height 1s
}

.show-div {
	height: 75px !important;
	transition: all 1s;
}

nav {
	width: 270px;
	margin: auto;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

nav h3 {
	text-transform: uppercase;
	padding-left: 5px;
	padding-right: 5px;
	height: 28px;
}

#header-text {
	width: 300px;
	text-align: center;
	color: white;
	top: 150px;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

main h2, main p {
	text-align: center;
	padding-bottom: 20px;
}

main h2 {
	font-size: 2rem;
}

main p:nth-child(3) {
	padding-top: 10px;
	padding-bottom: 35px;
}

#buttons {
	padding: 2%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-transform: uppercase;
}

.green-bord {
	width: 130px;
	border-style: solid;
	border-color: #BAEA32;
	border-width: medium;
	border-radius: 10px;
	color: #BAEA32;
	padding: 5px;
	margin: 5px;
	background-color: #4d4b4b;
}

.orange-bord {
	width: 130px;
	border-style: solid;
	border-color: #EA7C32;
	border-width: medium;
	border-radius: 10px;
	color: #EA7C32;
	padding: 5px;
	margin: 5px;	
	background-color: #4d4b4b;
}

.flex-img {
	width: 280px;
	height: 100%;
}

.opac-Img {
	opacity: 0.7;
	transition: opacity 1s;
}

.center-text p {
	padding-top: 6px;
	text-transform: uppercase;
}

.center-text {
	position: relative;
	text-align: center;
	color: white;
	padding: 5px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bold {
	font-weight: bold;
}

footer {
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(94,94,94,1) 74%, rgba(185,185,185,1) 100%);
}

#footer-nav ul li {
	list-style-type: none;
}

.foot-nav-col {
	padding: 0 12px 0 12px;
}

.icon {
	width: 30px;
	padding: 5px;
}

.align {
	padding-left: 12px;
}

.pad {
	padding: 5px 0 5px 0;
}

.width {
	width: 320px;
}

.list {
	list-style-type: none;
}

.padding-bottom {
	padding-bottom: 30px;
}



@media (min-width: 500px) {
	#social {
		padding-left: 5px;
	}
	.green-bg {
		padding: 20px 5px 10px 5px;
		border-radius: 0 0 7px 7px;
	}
	.org-bg {
		padding: 20px 5px 10px 5px;
		border-radius: 0 0 7px 7px;
	}
	nav {
		width: 100%;
		max-width: 700px;
	}
	nav h3 {
		height: 44px;
	}
}

@media (min-width: 700px) {
	.green-bg {
		padding: 20px 10px 10px 10px;
	}

	.org-bg {
		padding: 20px 10px 10px 10px;
	}
	#header-text {
		left: 45%;
		top: 120px;
	}
}

@media (min-width: 800px) {
	#buttons {
		margin-top: 5px;
	}
	.green-bord {
		background-color: transparent;
	}
	.orange-bord {
		background-color: transparent;
	}
}







