@import url('https://fonts.googleapis.com/css?family=PT+Sans');

* {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	border: 0;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
    display:block;
}

h1 {
	font-size: 2rem;
	padding-top: 30px;
}

h2 {
	font-size: 1.5rem;
}

p {
	font-size: 1.2rem;
}

ul li, h3 {
	font-size: 1.2rem;
}

ul li {
	text-transform: uppercase;
}

.orange {
	color: orange;
}

.green {
	color: #BAEA32
}

.white {
	color: white;
}

.hidden {
	visibility: hidden; 
}

.bgimage {
	background-image: url('../img/banner-bg.png');
	background-position: center;
	background-size: cover;
	height: 400px;
}
nav {
	display: flex;
	justify-content: center;
	padding-top: 15px;
}

#header-ul {
	width: 220px;
	display: flex;
	justify-content: center;
}

#header-ul ul {
	width: 100%;
}

nav ul li {
	display: inline;
	padding: 2%;
}

.green-bg {
	background-color: #BAEA32;
	border-radius: 7px;
	margin: 1%;
}

.org-bg {
	background-color: #EA7C32;
	border-radius: 7px;
	margin: 1%;
}

#border-nav {
	padding-top: 10px;
}

#header-text {
	text-align: center;
	color: white;
	padding-top: 30px;
}

main h1, main p {
	text-align: center;
	padding-bottom: 20px;
}

main p:nth-child(3) {
	padding-top: 10px;
	padding-bottom: 35px;
}

#buttons {
	margin-top: 40px;
	padding: 2%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	text-transform: uppercase;
}

.green-bord {
	width: 130px;
	border-style: solid;
	border-color: #BAEA32;
	border-width: medium;
	border-radius: 10px;
	color: #BAEA32;
	padding: 5px;
	margin: 5px;
	background-color: #4d4b4b;
}

.orange-bord {
	width: 130px;
	border-style: solid;
	border-color: #EA7C32;
	border-width: medium;
	border-radius: 10px;
	color: #EA7C32;
	padding: 5px;
	margin: 5px;	
	background-color: #4d4b4b;
}

.flex-img {
	width: 280px;
	height: 100%;
}

.center-text p {
	padding-top: 6px;
	text-transform: uppercase;
}

.center-text {
	position: relative;
	text-align: center;
	color: white;
	padding: 5px;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.bold {
	font-weight: bold;
}

footer {
	background: rgb(0,0,0);
	background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(94,94,94,1) 74%, rgba(185,185,185,1) 100%);
}

#footer-nav ul li {
	list-style-type: none;
}

.foot-nav-col {
	padding: 0 12px 0 12px;
}

.icon {
	width: 30px;
	padding: 5px;
}

.align {
	padding-left: 12px;
}

.pad {
	padding: 5px 0 5px 0;
}

.width {
	width: 320px;
}

.list {
	list-style-type: none;
}

.padding-bottom {
	padding-bottom: 30px;
}



@media (min-width: 500px) {
	#social {
		padding-left: 5px;
	}
	#header-ul {
		width: 450px;
		display: flex;
	}
	#border-nav {
		padding-top: 0;
	}	
	.green-bg {
		padding: 50px 5px 10px 5px;
	}

	.org-bg {
		padding: 50px 5px 10px 5px;
	}
}

@media (min-width: 700px) {
	#header-ul {
		width: 650px;
	}
	#org-nav li {
		padding-right: 25px;
	}
	#org-nav {
		padding-left: 25px;
	}
	.green-bg {
		padding: 50px 10px 10px 10px;
	}

	.org-bg {
		padding: 50px 10px 10px 10px;
	}
}

@media (min-width: 800px) {
	#header-text {
		margin-left: 150px;
		margin-top: 40px;
	}
	#buttons {
		margin-top: 5px;
	}
	.green-bord {
		margin-top: 0;
		background-color: transparent;
	}
	.orange-bord {
		margin-top: 0;
		background-color: transparent;
	}
}

@media (max-width: 499px) {
	#header-ul {
		flex-wrap: wrap;
	}
}






